/* update.css */
*{
	margin: 0;
	padding: 0;
}
.update{
	width:1124px;
	height:280px;
	/* background-color: #99C2E2; */
	color:#907E70;
}
table{
	font-size: 14px;
	/* margin:auto; */
	margin-left: 378px;
}
.update td,.update th{
	height: 50px;
}
.update th{
	text-align: left;
	font-size: 18px;
}
.one{
	text-align: right;
}
.two{
	text-align: left;
}
span{
	color: red;
}
input{
	font-size: 14px;
	height: 22px;
	line-height: 22px;
}
.three input:hover{
	border: 1px solid #573C27;
}
.two{
	text-align:left;
}
.two input{
	/* margin-left: 30px; */
	width: 72px;
	color:#907E70;
}
.update .three{
}
.two input:hover{
	border: 1px solid red;
	color: black;
}
/* select{
	height: 25px;
	color:#907E70;
} */
/* select:hover{
	border: 1px solid #573C27;
}
 */